<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">

<head th:replace="index :: header">

<body class="body-login">

	<div id="login-page" class="row">
		<div class="col s12 z-depth-6 card-panel">
			<form class="login-form" action="lembrarSenha" method="post">
				<div class="row brand-logo right  hide-on-med-and-down">Torneio
					de Dominó IFPE - Administrativo</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="login" type="text" required="required" name="login">
						<label for="login">Login</label>
					</div>

				</div>

				<div class="row">
					<div class="input-field col s12">
						<button type="submit" class="btn waves-effect waves-light col s12">Solicitar
							senha</button>
					</div>
				</div>
				<div class="card-panel" id="cardMsg" th:if="${msg}">
					<span class="blue-text text-darken-2" th:text="${msg}"></span>
				</div>
			</form>
		</div>
	</div>
</body>
</html>