<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="index :: header">
<body>

	<nav th:replace="home :: menu"></nav>

	<h4>Listar Duplas</h4>
	<hr />

	<hr />
	<table class="striped">
		<tr>
			<th>Inscrição</th>
			<th>Jogadores</th>
			<th>Situação</th>
			<th>Pontuação</th>
			<th>..</th>
		</tr>
		<tr th:each="aux : ${colecao}">
			<td th:text="${aux.numeroInscricao}">&nbsp;</td>
			<td th:text="|${aux.jogador1.nome} (${aux.jogador1.categoria}) & ${aux.jogador2.nome} (${aux.jogador2.categoria})|">&nbsp;</td>
			<td th:text="${aux.status}">&nbsp;</td>
			<td th:text="${aux.pontuacao}">&nbsp;</td>
			<td><img src="/images/win-icon.png" class="icone">&nbsp; <img
				src="/images/lose-icon.png" class="icone"></td>

		</tr>
	</table>

</body>
</html>